<html>
<head></head>
<body>

Congratulations! Your registration was successful, and your badge number is <strong>{{ attendee.badge_num }}</strong>.
Your membership type is:
{% if attendee.amount_extra %}
    {% if attendee.badge_type == c.ATTENDEE_BADGE %}
        Attending {{ attendee.amount_extra_label }}
    {% else %}
        {{ attendee.badge_type_label }} {{ attendee.amount_extra_label }}
    {% endif %}
{% else %}
    {{ attendee.badge_type_label }}
{% endif %}

<br/><br/>Your credit card was successfully charged for <strong>${{ attendee.amount_paid }}</strong>.

<br/><br/>To confirm your registration in the future, please point your web browser to <a href="{{ c.URL_BASE }}/preregistration/confirm?id={{ attendee.id }}">{{ c.URL_BASE }}/preregistration/confirm?id={{ attendee.id }}</a>.

<br/><br/>If you have any questions about the convention, please read our helpful FAQ at <a href="https://www.anthrocon.org/faq">https://www.anthrocon.org/faq</a>. It covers many of the questions attendees have!

<br/><br/>For general questions about Anthrocon, you may also contact us at <strong>anthrocon AT anthrocon DOT org</strong>.
<br/>For registration questions specifically, you may contact us at registration@anthrocon.org.
<br/>To inquire about refunds, you may contact us at refunds@anthrocon.org.

{{ c.REGDESK_EMAIL_SIGNATURE }}

</body>
</html>