{% if c.HAS_PEOPLE_ACCESS %}
<script type="text/javascript">
    MENU.push({
        'Badge Printing': [
            {'List Printed Badges': '../badge_printing/'},
            {'List Pending Badges': '../badge_printing/index?pending=True'},
            {'Print Adult Badges':  '../badge_printing/print_badges'},
            {'Print Minor Badges':  '../badge_printing/print_badges?minor=True'}
        ]
    });
</script>
{% endif %}

{% if c.PAGE_PATH == '/registration/form' %}
    <script type="text/javascript">
        $(function () {
            $('#reprint_fee').insertAfter($.field('badge_status').parents('.form-group'));
        });
    </script>

    <div id="reprint_fee" class="form-group">
    {% include "kiosk_printing/reprint_fee.html" %}
    </div>
{% endif %}

<script type="text/javascript">
    $(function() {
        if ($('#checkin_count')) {
            $('#checkin_count').parents('.panel').remove();
        }
    });
</script>

{% if c.AT_THE_CON and c.PAGE_PATH == '/preregistration/index' %}
    <script type="text/javascript">
    $(function() {
        $('.stripe-button-el').parents(':eq(2)').prepend($('#stripe-warning'));
    });
    </script>


    <div class="bg-danger" id="stripe-warning" style="margin: 20px; padding: 10px;"><strong>NOTE: A government-issued ID is required to pick up your badge.
                <br/>If you pay now and cannot pick up your badge, there are no refunds!</strong></div>
{% endif %}
