<script type="text/javascript">
    if (window.BADGE_TYPES) {
            BADGE_TYPES.options.push({
                title: 'Sponsor',
                description: 'Donate extra and get perks on top of an attending membership.',
                extra: {{ c.SPONSOR }}
            });
            BADGE_TYPES.options.push({
                title: 'Supersponsor',
                description: 'The most generous option - get even more great perks!',
                extra: {{ c.SUPERSPONSOR }}
            });
        }
    $(function () {

        // Position new fields
        if ($.field('first_name')) {
            $('#extra_donation').insertBefore($.field('first_name').parents('.form-group'));
        } else {
            $('#extra_donation').insertBefore($('label[for="full_name"]').parents('.form-group'));
        }
        $('#luncheon').insertAfter($.field('extra_donation').parents('.form-group'));

        $('.badge-type-selector').on('click', showOrHideLuncheon);
        showOrHideLuncheon();
        $.field('luncheon_tickets').parents('form').submit(function() {
            if ($('#luncheon').is(':hidden')) {
                $.field('luncheon_tickets').val('');
            }
        });

        // Hide unwanted fields where appropriate
        $("label:contains('What interests you?')").parents('.form-group').hide();
        $.field('found_how').parents('.form-group').hide();
        {% if c.PAGE_PATH != '/registration/form' %}
            $.field('staffing').parents('.form-group').hide();
            $.field('amount_extra').parents('.form-group').hide();
        {% endif %}
        $.field('can_spam').prop('checked', false).parents('.form-group').hide();
        if ($.field('affiliate')) { $.field('affiliate').parents('.form-group').remove(); }
        $('label[for="ec_phone"]').addClass('optional-field');

        // Change existing fields
        $('label[for="cellphone"]').css('font-weight', 'bold').text('Your Phone Number');
        $.field('cellphone').attr('placeholder', 'Your phone number.');
        $('label[for="full_address"]').text('');
        $('label[for="address1"]').text('Mailing Address');
        $.field('cellphone').parents('.form-group').insertBefore($.field('ec_phone').parents('.form-group'));
    });
    var showOrHideLuncheon = function () {
        setVisible($('#luncheon'), $.val('amount_extra') >= {{ c.SUPERSPONSOR }});
    };
</script>

<div id="extra_donation">
    <div class="form-group">
        <label class="col-sm-2 control-label optional-field">Extra Donation</label>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" name="extra_donation" value="{{ attendee.extra_donation|default:'' }}" placeholder="0" />
                <span class="input-group-addon">.00</span>
            </div>
        </div>
    </div>
</div>

<div id="luncheon" style="display:none;">
    <div class="form-group">
        <label class="col-sm-2 control-label">Supersponsor Luncheon</label>
        <div class="col-sm-6">
            {% checkbox attendee.luncheon_going %} Will you be attending our supersponsor luncheon at 11:30 AM on the Saturday of the convention?
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label optional-field">Additional Luncheon Tickets</label>
        <div class="col-sm-6">
            Do you wish to purchase additional luncheon tickets (at $50 each) for a guest or two?
            <br/><input type="text" class="form-control" name="luncheon_tickets" value="{{ attendee.luncheon_tickets|default:'' }}" placeholder="0" />
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-6">
        {% checkbox attendee.coc_agree %} <strong>I agree to abide by Anthrocon's <a href="http://www.anthrocon.org/rules-conduct" target="_blank">Standards of Conduct</a></strong>
    </div>
</div>

{% if attendee.badge_num and c.PAGE_PATH != '/registration/form' %}
    <script type="text/javascript">
    $(function() {
        $('label[for="badge_num"]').parents('.form-group').insertAfter($('#luncheon'));
    });
    </script>
    <div class="form-group">
    <label for="badge_num" class="col-sm-2 control-label">Badge Number</label>
    <div class="col-sm-6">
        {{ attendee.badge_num }}
    </div>
    </div>
{% endif %}

{% if attendee.is_dealer %}
    {% if c.PAGE_PATH == '/preregistration/dealer_registration' or c.PAGE_PATH == '/preregistration/form' %}
<script type="text/javascript">
    $(function() {
        $("#table_prices").hide();
        $('label[for="tables"]').parents('.form-group').next('.form-group').hide();
        $.field('website').parents('.form-group').next('.form-group').hide();
        $('label[for="website"]').addClass('optional-field');
        $.field('address').parents('.form-group').hide();

        $.field('tax_id').parents('.form-group').insertBefore($.field('special_needs').parents('.form-group'));
        $.field('dealer_cost').parents('.form-group').insertBefore($.field('name').parents('.form-group'));
        $.field('table_extras').parents('.form-group').insertAfter($.field('tables').parents('.form-group'));
        $('#badge-types').insertAfter($.field('dealer_cost').parents('.form-group'));
        $('.badge-type-selector').each(function () {
            $(this).on('click', setDealerCost);
        });

        $.field('tables').on('change', updateBadgeLimits).on('change', setDealerCost).on('change', enableOrDisableExtras);
        $.field('badges').on('change', setDealerCost);
        $.field('table_extras').on('change', setDealerCost);
        $('[name="table_extras"][value="0"]').click(function() {
            if($(this).is(':checked')) {
                $('[name="table_extras"][value="20"]').prop('checked', false);
            }
        });
        $('[name="table_extras"][value="20"]').click(function() {
            if($(this).is(':checked')) {
                $('[name="table_extras"][value="0"]').prop('checked', false);
            }
        });
        $.field('badge_type').parents('form:first').submit(function() {
            $('input[name="badge_type"]').val('{{ c.PSEUDO_DEALER_BADGE }}');
        });
        setDealerCost();
        updateBadgeLimits();
        enableOrDisableExtras();

        $('input[name="badge_type"]').val('{{ c.PSEUDO_DEALER_BADGE }}');
    });

    var updateBadgeLimits = function () {
        var current_tables = $.val('tables');

        var current_options = $("[name='badges'] option").length;
        if ($.val("tables") <= 1) {
            var badge_num = 2;
        } else if ($.val("tables") <= 2) {
            var badge_num = 3;
        } else if ($.val('tables') > 4) {
            var badge_number = 6;
        } else {
            var badge_num = parseInt($.val("tables")) + 1;
        }
        if (current_options > badge_num) {
            for (i = badge_num + 1; i <= current_options; i++) {
                $("[name='badges'] option[value='" + i + "']").remove()
            }
        } else if (current_options < badge_num) {
            for (i = current_options + 1; i <= badge_num; i++) {
                $("[name='badges']").append('<option value="'+ i +'">'+ i +'</option>')
            }
        }
    };

    // This affects the display only.
    var setDealerCost = function () {
        $("#cost").empty();
        var extra_cost = 0;
        // Cost for tables
        var table_cost = parseInt($('[name="tables"] option:selected').text().split("$")[1]);
        // Cost for badges
        var badge_cost = {{ c.BADGE_PRICE }} * $.val("badges");
        // Extra options cost
        $('[name="table_extras"]:checked').each(function() {
            extra_cost += parseInt($(this).val());
        });
        var upgrade_cost = $.val('amount_extra');

        total_cost = table_cost + badge_cost + extra_cost + upgrade_cost;
        $("#cost").html("$"+ total_cost);
    };

    var enableOrDisableExtras = function () {
        if ($.val('tables') == 4.5) {
            $('[name="table_extras"]').each(function() {
                $(this).prop('checked', false).prop('disabled', true);
                if ($(this).val() == 65) {
                    $(this).prop('title', 'Already included with your selected table.');
                } else {
                    $(this).prop('title', 'Not a valid option with your selected table.');
                }
            });
        } else if ($.val('tables') < 3 && $.val('tables') > 1) {
            $('[name="table_extras"][value="20"]').prop('checked', false).prop('disabled', true).prop('title', 'Not a valid option with your selected table.');
        } else {
            $('[name="table_extras"]').each(function() {
                $(this).prop('disabled', false);
            });
        }
    };
</script>

    <div class="form-group" id="badge-types">
        <label class="col-sm-2 control-label">Badge Level</label>
    </div>

    <div class="form-group">
        <label for="tax_id" class="col-sm-2 control-label">Pennsylvania Tax ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="tax_id" value="{{ group.tax_id }}" placeholder="Your Tax ID" />
        </div>
    </div>

    <div class="form-group">
    <label for="dealer_cost" class="col-sm-2 control-label">Total Cost</label>
    <div class="col-sm-6" name="dealer_cost">
        <span id="cost"></span>
    </div>
    </div>

    <div class="form-group">
    <label for="table_extras" class="col-sm-2 control-label">Table Extras</label>
    <div class="col-sm-6">
        {% checkgroup group.table_extras %}
    </div>
    </div>
{% endif %}
{% endif %}