<script type="text/javascript">
    if (window.BADGE_TYPES) {
            BADGE_TYPES.options.push({
                title: 'Sponsor',
                description: 'Donate extra and get perks on top of an attending membership.',
                extra: {{ c.SPONSOR }}
            });
            BADGE_TYPES.options.push({
                title: 'Supersponsor',
                description: 'The most generous option - get even more great perks!',
                extra: {{ c.SUPERSPONSOR }}
            });
        }
    $(function () {

        // Position new fields
        if ($.field('first_name')) {
            $('#extra_donation').insertBefore($.field('first_name').parents('.form-group'));
        } else {
            $('#extra_donation').insertBefore($('label[for="full_name"]').parents('.form-group'));
        }
        $('#luncheon').insertAfter($.field('extra_donation').parents('.form-group'));

        $('.badge-type-selector').on('click', showOrHideLuncheon);
        showOrHideLuncheon();
        $.field('luncheon_tickets').parents('form').submit(function() {
            if ($('#luncheon').is(':hidden')) {
                $.field('luncheon_tickets').val('');
            }
        });

        // Hide unwanted fields where appropriate
        $("label:contains('What interests you?')").parents('.form-group').hide();
        $.field('found_how').parents('.form-group').hide();
        {% if c.PAGE_PATH != '/registration/form' %}
            $.field('staffing').parents('.form-group').hide();
        {% endif %}
        $.field('can_spam').prop('checked', false).parents('.form-group').hide();
        $.field('affiliate').parents('.form-group').remove();
        $('label[for="ec_phone"]').addClass('optional-field');

        // Change existing fields
        $('label[for="cellphone"]').css('font-weight', 'bold');
        $('label[for="full_address"]').text('Mailing Address');
        $.field('cellphone').parents('.form-group').insertBefore($.field('ec_phone').parents('.form-group'));
    });
    var showOrHideLuncheon = function () {
        setVisible($('#luncheon'), $.val('amount_extra') >= {{ c.SUPERSPONSOR }});
    };
</script>

<div id="extra_donation">
    <div class="form-group">
        <label class="col-sm-2 control-label optional-field">Extra Donation</label>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" name="extra_donation" value="{{ attendee.extra_donation|default:'' }}" placeholder="0" />
                <span class="input-group-addon">.00</span>
            </div>
        </div>
    </div>
</div>

<div id="luncheon" style="display:none;">
    <div class="form-group">
        <label class="col-sm-2 control-label">Supersponsor Luncheon</label>
        <div class="col-sm-6">
            {% checkbox attendee.luncheon_going %} Will you be attending our supersponsor luncheon at 11:30 AM on the Saturday of the convention?
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label optional-field">Additional Luncheon Tickets</label>
        <div class="col-sm-6">
            Do you wish to purchase additional luncheon tickets (at $50 each) for a guest or two?
            <br/><input type="text" class="form-control" name="luncheon_tickets" value="{{ attendee.luncheon_tickets|default:'' }}" placeholder="0" />
        </div>
    </div>
</div>

{% if attendee.badge_num and c.PAGE_PATH != '/registration/form' %}
    <script type="text/javascript">
    $(function() {
        $('label[for="badge_num"]').parents('.form-group').insertAfter($('#luncheon'));
    });
    </script>
    <div class="form-group">
    <label for="badge_num" class="col-sm-2 control-label">Badge Number</label>
    <div class="col-sm-6">
        {{ attendee.badge_num }}
    </div>
    </div>
{% endif %}