<html>
<head></head>
<body>
Your group ({{ group.name }}) has been approved as a {{ EVENT_NAME }} Dealer!
You can pay the ${{ group.cost }} you owe using the credit card button
<a href="{{ URL_BASE }}/preregistration/group_members?id={{ group.id }}">on this page</a>.

{% if group.unassigned_badges %}
    <br/> <br/>
    Some of your badges are not yet assigned to a specific person. If you assign these badges 
    now then it will take much less time for their owners to pick them up at the festival. 
    You may do this by <a href="{{ URL_BASE }}/preregistration/group_members?id={{ group.id }}">clicking here</a>.
{% endif %}

<br/> <br/>

This registration includes:
<ul>
    <li> {{ group.tables }} table{{ group.tables|pluralize }} (${{ group.table_cost }}) </li>
    <li> {{ group.badges }} badge{{ group.badges|pluralize }} (${{ group.badge_cost }}) </li>
</ul>

<br/> The complete Dealer Packet is available at
<a href="https://www.anthrocon.org/dealers/packet">https://www.anthrocon.org/dealers/packet</a>, and we require you
read through it carefully. There is additional information available at
<a href="https://www.anthrocon.org/faq/dealer">https://www.anthrocon.org/faq/dealer</a>. If you need to contact us,
please do so at dealers@anthrocon.org; we also are on twitter as @AC_Dealers_Room.

<br/><br/>Some reminders of important things:
<ul>
    <li>Be kind to your neighbors and respectful of space.</li>
    <li>If your items will take more than a single trip, they must be carried into and out from the room by teamsters.
        Details are in the Dealer Packet.</li>
    <li>Only occupy the spaces and electrical power that you have paid for.</li>
    <li>Your displays and products cannot block the aisles or walkways.</li>
    <li>Dealer areas must be left 'Broom clean'; failure to do so may result in fines</li>
</ul>

--Anthrocon Dealers Room
</body>
</html>
