{{ group.leader.first_name }},

Your {{ group.is_dealer|yesno:"Dealership,group" }} ({{ group.name }}) has been preregistered for
{{ c.EVENT_NAME }} and your payment of ${{ group.amount_paid }} has been received.

<br/><br/>Your payment includes the cost of tables, membership for all {{ group.is_dealer|yesno:"Dealer Assistants,group members" }},
and any upgrades you chose for your membership. If you wish to upgrade your membership or edit your information, please visit
<a href="{{ c.URL_BASE }}/preregistration/confirm?id={{ group.leader.id }}">{{ c.URL_BASE }}/preregistration/confirm?id={{ group.leader.id }}</a>

{% if group.unregistered_badges %}
    <br/> <br/>
    Some of your {{ group.is_dealer|yesno:"Dealer Assistant,group" }} badges are not yet assigned to a specific person.
    You will need to ensure all your {{ group.is_dealer|yesno:"Dealer Assistants,group members" }} are handled on your
    Dealership management page. The individual memberships on the {{ group.is_dealer|yesno:"Dealership,group" }}
    <a href="{{ c.URL_BASE }}/preregistration/group_members?id={{ group.id }}">management page</a> can be filled out by
    you, or distributed to your group members for them to fill out themselves.

    {% if not group.is_dealer %}
        <br/> <br/>
        You can add badges to your group using the above link, but you must add at least 5 badges at a time.
    {% else %}
        <br/><br/>
        You can also add more Dealer Assistants to your Dealership with the above link, up to the limit for your table size.
    {% endif %}
{% endif %}

<br/> <br/>
Badges for you and your {{ group.is_dealer|yesno:"Dealer Assistants,group members" }} will be available for pickup at
{{ c.EVENT_NAME }} in {{ group.is_dealer|yesno:"Dealer Registration,Registration" }}, which will be in Concourse B of the
Convention Center. All {{ c.EVENT_NAME }} members must pick up their own badge with a government-issues Photo ID.

{{ c.MARKETPLACE_EMAIL_SIGNATURE }}
