<html><head></head><body style='text-align:center'>
    <h2 style='color:red'>{{ c.EVENT_NAME_AND_YEAR }} pre-registration has closed.</h2>
    We'll see everyone {{ c.EVENT_MONTH }} {{ c.EVENT_START_DAY }} - July {{ c.EVENT_END_DAY }}rd.<br/>
    <br/>
    Full Memberships will be available at the door starting at ${{ c.BADGE_PRICE }}. One-Day Memberships will be available for ${{ c.DEFAULT_SINGLE_DAY }}.<br/>
    <br/>
    Further Registration information at <a href="http://www.anthrocon.org/Registration">http://www.anthrocon.org/Registration</a>. Please <a href="{{ c.CONTACT_URL }}">contact us</a> if you have any questions.<br/>
</body></html>
