<hr/>

<div style="font-weight:bold ; color:red ; margin-bottom:5px">Disclaimers:</div>
<ul>
    <li> Your membership may not be resold or transferred without the permission of Anthrocon</li>
    <li> Attendees (including dealers) must abide by our <a target="_blank" href="{{CODE_OF_CONDUCT_URL}}">code of conduct</a>. </li>
    <li> Submitting this form as a Dealer does not guarantee you will be selected for the Dealers Room - it is only the application. </li>
    <li> Please note that if you are purchasing a badge for another individual, the badge will become the property of that said individual, and only that person can request a refund if necessary. If you have any further questions, please E-mail us at registration@anthrocon.org. Thank you for understanding.</li>
</ul>
<br/>Anthrocon is a Pennsylvania-incorporated 501(c)7 nonprofit organization. As such, donations to Anthrocon are <strong>not</strong> deductible from individual US income taxes.

<script type="text/javascript">
    $(document).ready(function(){
        window.scrollTo(0,0);
    });
</script>
